// block
.calculation {
  &-block {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 40px;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #ffffff;
    background-color: var(--dark-blue);
    background-image: url('../../assets/images/examples/calculation/bg-xl.webp');
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    border-radius: 30px;
    scroll-margin-block-start: 100px;
    scroll-margin-block-end: 100px;
    overflow: hidden;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 0;
      padding: 0;
      // background-image: url('../../assets/images/examples/calculation/bg.webp');
      background-image: unset;
      border-radius: 30px 30px 0 0;
      scroll-margin-block-start: 80px;
      scroll-margin-block-end: 80px;
    }

    &--left {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 16px 0 0 20px;

      @media (max-width: 991px) {
        padding: 40px 15px;
        background-image: url('../../assets/images/examples/calculation/bg.webp');
        background-size: cover;
        background-position: bottom left;
        background-repeat: no-repeat;
        border-radius: 30px 30px 0 0;
      }

      & > * {
        max-width: 410px;
      }
    }

    &--right {
      position: relative;
      display: flex;
      flex: 1 0 60%;
      width: 100%;
      padding: 50px;
      background-color: var(--white);
      color: var(--dark);
      border-radius: 15px 20px;
      overflow: hidden;

      @media (max-width: 991px) {
        padding: 38px 10px 0;
        border-radius: 0;
      }
    }

    &--info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;

      & > p {
        margin: 0;
      }
    }

    &--manager {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;

      @media (max-width: 720px) {
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }

      & > img {
        width: 86px;
        height: 86px;
        object-fit: cover;
        aspect-ratio: 1 / 1;

        @media (max-width: 720px) {
          width: 60px;
          height: 60px;
        }
      }

      & > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;

        @media (max-width: 720px) {
          gap: 0;
        }

        & > b {
          font-size: 23px;

          @media (max-width: 991px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// step
.step {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100%;
  scroll-margin-block-start: 160px;

  @media (max-width: 991px) {
    scroll-margin-block-start: 40px;
  }

  &-status {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 12px;
    background-color: var(--light-grey);
    transition: 0.25s ease-in-out;
  }

  &-progress {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 0;
    height: 12px;
    background-color: var(--blue);
    transition: 0.25s ease-in-out;
  }

  &-tab {
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in-out;

    &.process {
      display: flex;
      opacity: 0;
      visibility: hidden;
      transition: 0.25s ease-in-out;
    }

    &.active {
      position: relative;
      display: flex;
      opacity: 1;
      visibility: visible;
      transition: 0.25s ease-in-out;
    }
  }

  &-final {
    display: none;

    &.active {
      display: flex;
    }
  }

  &-button {
    margin: 20px 0 0 auto;
  }

  &-variants {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    scroll-margin-block-start: 240px;

    @media (max-width: 991px) {
      scroll-margin-block-start: 80px;
    }

    &.show {
      height: 100%;
      max-height: 360px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    &:not(.step-variants--column) {
      & > * {
        flex: 1 0 calc(25% - 20px);
        max-width: calc(25% - 14px);
        width: 100%;
        margin: 0;

        @media (max-width: 1360px) {
          flex: 1 0 calc(33.333333% - 20px);
          max-width: calc(33.333333% - 12px);
        }

        @media (max-width: 1200px) {
          flex: 1 0 calc(50% - 20px);
          max-width: calc(50% - 10px);
        }

        @media (max-width: 991px) {
          flex: 1 0 calc(25% - 20px);
          max-width: calc(25% - 14px);
        }

        @media (max-width: 840px) {
          flex: 1 0 calc(33.333333% - 20px);
          max-width: calc(33.333333% - 12px);
        }

        @media (max-width: 720px) {
          flex: 1 0 calc(50% - 20px);
          max-width: calc(50% - 10px);
        }
      }
    }

    &--column {
      gap: 20px;

      @media (max-width: 991px) {
        gap: 10px 20px;
      }

      & > * {
        flex: unset;
        max-width: calc(50% - 10px);
        width: 100%;
        margin: 0;
      }
    }

    &--single {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;

      @media (max-width: 991px) {
        gap: 10px 20px;
      }
    }
  }

  &-ranges {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px 16px;
    flex-wrap: wrap;
    margin-bottom: 20px;

    & > .input {
      position: relative;
      max-width: 180px;
      flex: 1;

      &::before {
        content: '₽';
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 2;
        transform: translateY(-50%);
      }
    }

    & > .radio {
      flex: 1 0 auto;
      max-width: 100%;
    }
  }

  &-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-top: auto;
  }

  &-next,
  &-prev {
    width: 100%;
    height: 66px;

    @media (max-width: 991px) {
      height: 46px;
    }

    & > i {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.disabled,
    &:disabled {
      background-color: var(--light-grey);
      color: var(--grey);
      border-color: var(--light-grey);
      box-shadow: none;
      cursor: not-allowed;

      &:hover,
      &.hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        background-color: var(--light-grey);
        color: var(--grey);
        border-color: var(--light-grey);
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }

  &-next {
    width: 205px;

    @media (max-width: 720px) {
      width: 100%;
    }
  }

  &-prev {
    // оквадратнивание кнопки
    width: fit-content;
    aspect-ratio: 1 / 1;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
    border-color: var(--grey);
    color: var(--grey);
    box-shadow: none;

    &:hover,
    &.hover {
      background-color: var(--grey);
      border-color: transparent;
      color: #ffffff;
      box-shadow: none;
    }

    &:focus:active,
    &.focus,
    &.active {
      border-color: transparent;
      box-shadow: none;
    }
  }

  &-counter {
    @media (max-width: 720px) {
      display: none;
    }
  }

  &-navigation {
    display: flex;
    flex-direction: row;
    gap: 12px;

    @media (max-width: 720px) {
      width: 100%;
    }
  }
}
