.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.125);

  @media (max-width: 991px) {
    flex-direction: row;
  }

  &-top {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 15px 0 20px;
    background-color: #ffffff;
    border-bottom: 1px solid var(--dark-grey-lighter-2);

    @media (max-width: 991px) {
      padding: 10px 0 14px;
    }

    & > .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;

      @media (max-width: 991px) {
        align-items: stretch;
        flex-wrap: wrap;
        gap: 12px 30px;

        // Очередность элементов
        & > .header-logo {
          order: -1;
        }

        & > .header-search {
          flex: 1 0 70%;
          order: 1;
        }

        & > .header-contacts {
          order: 0;
        }

        & > .btn-burger {
          flex: 0 0 auto;
          order: 2;
        }
      }

      @media (max-width: 720px) {
        gap: 12px 20px;
      }
    }

    & > a {
      font-size: 16px;
      color: var(--dark);
      text-decoration: none;
      white-space: nowrap;
      transition: 0.25s ease-in-out;

      @media (max-width: 720px) {
        font-size: 14px;
      }

      @media (max-width: 576px) {
        font-size: 11px;
      }

      &:hover {
        color: var(--blue);
      }
    }
  }

  &-logo {
    position: relative;
    z-index: 1;
    display: block;
    white-space: nowrap;
  }

  &-bottom {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: var(--blue);

    @media (max-width: 991px) {
      padding: 5px 0;
    }

    & > .container {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
      gap: 50px;

      @media (max-width: 1300px) {
        gap: 20px;
      }

      @media (max-width: 720px) {
        gap: 10px;
      }
    }

    & [data-catalog='true'] {
      opacity: 1;
      & > i {
        &:first-of-type {
          display: none !important;
        }

        &:last-of-type {
          display: flex !important;
        }
      }
    }

    & [data-catalog=''] {
      opacity: 0.85;
      & > i {
        &:first-of-type {
          display: flex !important;
        }

        &:last-of-type {
          display: none !important;
        }

        @media (max-width: 991px) {
          &:first-of-type {
            display: flex !important;
          }

          &:last-of-type {
            display: none !important;
          }
        }
      }
    }

    & [data-catalog] {
      width: fit-content;
      height: auto;
      flex: 0 0 fit-content;
      padding: 8px 20px;
      border: 0;
      background-color: #ffffff;
      color: var(--dark);

      &:hover,
      &:active,
      &:focus,
      &:focus:active,
      &.focus,
      &.active {
        box-shadow: none;
      }

      @media (max-width: 991px) {
        justify-content: flex-start;
        flex: 1 0 auto;
        width: 100%;
        margin-right: auto;
        background-color: transparent;
        color: #ffffff;
        box-shadow: none;
      }

      @media (max-width: 720px) {
        padding: 5px 10px;
      }

      & > span {
        &:nth-child(3) {
          display: block;
        }

        &:nth-child(4) {
          display: none;
        }

        @media (max-width: 1500px) {
          &:nth-child(3) {
            display: none;
          }

          &:nth-child(4) {
            display: block;
          }
        }

        @media (max-width: 991px) {
          &:nth-child(3) {
            display: block;
          }

          &:nth-child(4) {
            display: none;
          }
        }
      }
    }

    & .nav-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
      margin-right: auto;

      @media (max-width: 1400px) {
        gap: 30px;
      }

      @media (max-width: 1200px) {
        gap: 20px;
      }

      @media (max-width: 991px) {
        display: none;
      }

      & > a {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        color: #ffffff;
        text-decoration: none;
        padding: 5px 0;

        & > i {
          display: flex;
        }

        & > span {
          white-space: nowrap;

          & > span {
            &:last-of-type {
              @media (max-width: 1200px) {
                display: none;
              }
            }
          }
        }

        &:hover {
          & > span {
            text-decoration: underline;
          }
        }

        & .counter-items {
          right: auto;
          left: 0;
          transform: translate(50%, -60%);
        }
      }
    }
  }

  &-search {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 464px;
    height: 48px;
    transition: 0.25s ease-in-out;

    @media (max-width: 991px) {
      max-width: 100%;
      height: 32px;
    }

    & > input {
      width: 100%;
      height: 100%;
      padding: 12px 50px 12px 20px;
      border-width: 3px;
      border-color: var(--blue);
      border: 2px solid var(--blue);
      transition: 0.25s ease-in-out;

      @media (max-width: 991px) {
        border: 1px solid #cccccc;
        padding: 6px 32px 6px 10px;

        &:focus,
        &.focus,
        &.active,
        &:not(:placeholder-shown) {
          border-color: var(--blue);
          & + button {
            background-color: var(--blue);
            border-color: var(--blue);
          }
        }
      }
    }

    & > button {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 100%;
      padding: 0 14px;
      font-size: 22px;
      background-color: var(--blue);

      @media (max-width: 991px) {
        width: 32px;
        background-color: #cccccc;
        border-color: #cccccc;
        padding: 0 4px;
        font-size: 14px;
      }

      & i {
        display: flex;
      }
    }

    &.active {
      opacity: 1;
    }
  }

  & .btn-burger {
    display: none;
    background-color: transparent;
    border-color: transparent;
    border: 0;
    box-shadow: none;
    font-size: 16px;
    color: var(--dark);

    @media (max-width: 991px) {
      display: block;
      padding: 4px 10px;
    }

    &:hover,
    &.hover {
      border-color: transparent;
      box-shadow: none;
    }

    &:focus:active,
    &.focus,
    &.active {
      border-color: transparent;
      box-shadow: none;
    }

    &[data-menu='open'] {
      & > * {
        &:first-of-type {
          display: none !important;
        }

        &:last-of-type {
          display: flex !important;
        }
      }
    }

    &[data-menu='closed'] {
      & > * {
        &:first-of-type {
          display: flex !important;
        }

        &:last-of-type {
          display: none !important;
        }
      }
    }
  }
}
