:root {
  color-scheme: light dark;
  
  --green: #26b857;
  --orange: #f78a31;
  --yellow: #f7dd31;
  --red: #f73131;
  --pink: #ff51b1;
  --purple: #8c14cd;
  --blue: #2655b8;
  // --blue: #5097d6;
  --dark-blue: #2e3860;
  --dark: #262626;
  --grey: #959595;
  --white: #ffffff;
  --light-grey: #eceff7;
  --text-muted: #a5a5a5;

  // Оттенки и тона для каждого цвета
  // Blue
  --blue-darker-1: #{darken(#2655b8, 10%)};
  --blue-darker-2: #{darken(#2655b8, 20%)};
  --blue-darker-3: #{darken(#2655b8, 30%)};
  --blue-lighter-1: #{lighten(#2655b8, 10%)};
  --blue-lighter-2: #{lighten(#2655b8, 20%)};
  --blue-lighter-3: #{lighten(#2655b8, 30%)};

  // Green
  --green-darker-1: #{darken(#26b857, 10%)};
  --green-darker-2: #{darken(#26b857, 20%)};
  --green-darker-3: #{darken(#26b857, 30%)};
  --green-lighter-1: #{lighten(#26b857, 10%)};
  --green-lighter-2: #{lighten(#26b857, 20%)};
  --green-lighter-3: #{lighten(#26b857, 30%)};

  // Orange
  --orange-darker-1: #{darken(#f78a31, 10%)};
  --orange-darker-2: #{darken(#f78a31, 20%)};
  --orange-darker-3: #{darken(#f78a31, 30%)};
  --orange-lighter-1: #{lighten(#f78a31, 10%)};
  --orange-lighter-2: #{lighten(#f78a31, 20%)};
  --orange-lighter-3: #{lighten(#f78a31, 30%)};

  // Yellow
  --yellow-darker-1: #{darken(#f7dd31, 10%)};
  --yellow-darker-2: #{darken(#f7dd31, 20%)};
  --yellow-darker-3: #{darken(#f7dd31, 30%)};
  --yellow-lighter-1: #{lighten(#f7dd31, 10%)};
  --yellow-lighter-2: #{lighten(#f7dd31, 20%)};
  --yellow-lighter-3: #{lighten(#f7dd31, 30%)};

  // Red
  --red-darker-1: #{darken(#f73131, 10%)};
  --red-darker-2: #{darken(#f73131, 20%)};
  --red-darker-3: #{darken(#f73131, 30%)};
  --red-lighter-1: #{lighten(#f73131, 10%)};
  --red-lighter-2: #{lighten(#f73131, 20%)};
  --red-lighter-3: #{lighten(#f73131, 30%)};

  // Pink
  --pink-darker-1: #{darken(#ff51b1, 10%)};
  --pink-darker-2: #{darken(#ff51b1, 20%)};
  --pink-darker-3: #{darken(#ff51b1, 30%)};
  --pink-lighter-1: #{lighten(#ff51b1, 10%)};
  --pink-lighter-2: #{lighten(#ff51b1, 20%)};
  --pink-lighter-3: #{lighten(#ff51b1, 30%)};

  // Purple
  --purple-darker-1: #{darken(#8c14cd, 10%)};
  --purple-darker-2: #{darken(#8c14cd, 20%)};
  --purple-darker-3: #{darken(#8c14cd, 30%)};
  --purple-lighter-1: #{lighten(#8c14cd, 10%)};
  --purple-lighter-2: #{lighten(#8c14cd, 20%)};
  --purple-lighter-3: #{lighten(#8c14cd, 30%)};

  // Dark
  --dark-darker-1: #{darken(#32353c, 10%)};
  --dark-darker-2: #{darken(#32353c, 20%)};
  --dark-lighter-1: #{lighten(#32353c, 10%)};
  --dark-lighter-2: #{lighten(#32353c, 20%)};

  // Dark Grey
  --dark-grey-darker-1: #{darken(#5f5f5f, 10%)};
  --dark-grey-darker-2: #{darken(#5f5f5f, 20%)};
  --dark-grey-lighter-1: #{lighten(#5f5f5f, 10%)};
  --dark-grey-lighter-2: #{lighten(#5f5f5f, 20%)};

  // Grey
  --grey-darker-1: #{darken(#e4e4e4, 10%)};
  --grey-darker-2: #{darken(#e4e4e4, 20%)};
  --grey-lighter-1: #{lighten(#e4e4e4, 10%)};
  --grey-lighter-2: #{lighten(#e4e4e4, 20%)};

  // Light Grey
  --light-grey-darker-1: #{darken(#f3f3f7, 10%)};
  --light-grey-lighter-1: #{lighten(#f3f3f7, 10%)};

  --container-padding: 10px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-navigation-size: 40px;
  --slides-gap: 10px;
  --slides-to-show: 1;
  --slides-total: 1;
}